<nav class="navbar navbar-light bg-primary text-white justify-content-between">
  <h5 class="appTitle"> 
      <i class="material-icons">person_pin</i> App de contatos | Limber test
    </h5>
  <form class="form-inline">
     <div class="dropdown pull-xs-right">
        <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="lr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons text-white">more_vert</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lr1">
         <button class="dropdown-item" type="button">Log-out</button>
        </div>
        </div>
  </form>
</nav>

 
   
 

 
  

<div class="container">
  <contact-list></contact-list>
</div>