/* You can add global styles to this file, and also import other style files */
.container {
	margin-top: 50px;
}
.bg-primary {
    background-color: #3f51b5!important;
}
.navbar-brand {
	color: #ffffff;
	text-transform: uppercase;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}
.userButtons {
	width: 100%;
	text-align: right;
}